body {
	background-image: url("http://i48.tinypic.com/f2pxdu.jpg");
}
div{
	height: 25%;
	width: 15%;
	font-size: 90%;
	border: 1% solid black;
	margin: auto;
	margin-top: 1%;
	padding: 5px;
	display: inline;
	}
.amarillo {
	background-color: yellow;	
}
.rojo{
	background-color: red;	
}
.azul{
	background-color: blue;	
}
.verde{
	background-color: green;	
}
.rosa{
	background-color: pink;	
}
.morado{
	background-color: purple;
}
.pdl5{
	padding-left: 0%;
}
.pdt5{
	padding-top: 0%;
